h1{
    background-color: #dfdcdcd0;
    padding: 20px;
    text-align-last: center;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #00549d;
    font-size: 45px;
    text-shadow: 1px 1px #000000;
}